.second {
  padding: 0 0.5%;
  display: flex;
  align-items: flex-start;
}

.icon {
  height: 1.2vw;
  width: 1.2vw;
  position: relative;
  top: 1.8rem;
  border: 1px black;
}

.button {
  display: flex;
  justify-content: space-around;
  padding-left: 0.5rem;
  margin: 10%;
}
.nametag {
  height: 100%;
}
