.Grid {
  margin-top: 30%;
  margin-left: 50%;
  margin-bottom: 50%;
  /* background-color: blue; */
}

h1 {
  /* background-color: white; */
  /* align-items: center; */
  padding-left: 50%;
  padding-top: 15%;
}
